body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pixContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px; 
  align-items: center;
}

.movie {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.movie > img {
  height: 210px;
  width: 295px;
}

.description {
  padding: 0 20px 20px;
}
